/* =========================================
   Global
========================================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #F8FAFC;
    color: #1E293B;
}

/* =========================================
   Navigation
========================================= */

.navbar {
    max-width: 1200px;
    margin: 0 auto;
    padding: 24px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #2563EB;
}

.contact-btn {
    background: #2563EB;
    color: white;
    text-decoration: none;

    padding: 12px 24px;
    border-radius: 8px;

    transition: 0.2s;
}

.contact-btn:hover {
    background: #1D4ED8;
}

/* =========================================
   Hero
========================================= */

.hero{

    max-width:1200px;

    margin:0 auto;

    padding:100px 30px 120px;

}

.hero-content{

    max-width:700px;

}

.hero-tag{

    color:#2563EB;

    font-weight:600;

    margin-bottom:20px;

}

.hero h1{

    font-size:64px;

    line-height:1.1;

    margin-bottom:30px;

    color:#0F172A;

}

.hero-description{

    font-size:22px;

    line-height:1.7;

    color:#64748B;

    margin-bottom:45px;

}

.hero-btn{

    display:inline-block;

    text-decoration:none;

    background:#2563EB;

    color:white;

    padding:18px 34px;

    border-radius:10px;

    font-size:18px;

    font-weight:600;

    transition:.25s;

}

.hero-btn:hover{

    background:#1D4ED8;

}